a {
    text-decoration: none;
}

p, h1, h2 {
    margin: 0;
    padding: 0;
}

.container {
    overflow: hidden;
    background: #000;

}

.content {
    color: yellow;
    font-size: 60px;
    font-family: sans-serif;
    text-align: center;
    margin: 0 auto;
    width: 1000px;
    height: 100vh;
    transform: perspective(300px) rotateX(65deg);
    animation: starWars 30s linear infinite;
    overflow: hidden;
}

@keyframes starWars {
    0% {
        transform: perspective(600px) rotateX(65deg) translateY(600px);
    }

    100% {
        transform: perspective(600px) rotateX(65deg) translateY(-3000px);
    }
}









