.container {
    margin: 0 auto;
    width: 1280px;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

ul {
    list-style: none;
}

.header-zone {
    margin-top: 61px;
}

.header-nav {
    text-align: center;
    margin-top: 38px;
    background: rgb(53,68,79);
}

.company-name {
    font-size: 80px;
    color: #000;
}

.blue-text {
    color: #5df;
}

.header-nav-link {
    font-size: 24px;
    color: #fff;
    padding: 25px;
    border: 1px solid transparent;
    border-left: 1px solid #222;
    display: inline-block;
}

.header-nav-link:hover {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    background: #222F3A;
}

.header-nav-link-last {
    border-right: 1px solid #222;
}

.main-content {
    margin-top: 50px;
}

.sidebar {
    width: 344px;
    margin-right: 44px;
    display: inline-block;
    border: 1px solid #aaa;
    vertical-align: top;
}

.sidebar-list {
    margin: 0;
    padding: 0;
}

.sidebar-link {
    display: block;
    font-size: 27px;
    color: #495863;
    padding: 20px 44px;
}

.sidebar-link:hover {
    background: #DBDBDB;
    color: #35444F;
    padding-left: 70px;
}

.main-article {
    width: 885px;
    display: inline-block;
    vertical-align: top;
}

.main-img-wrapper {
    padding: 75px 268px 73px 297px;
    border: 1px solid #aaa;
    overflow: hidden;
}

.main-img {
    width: 100%;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.main-img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.article-text {
    margin-top: 42px;
    font-size: 18px;
    color: #2C2C2C;
}

.footer-zone {
    margin-top: 54px;
    padding: 20px 25px;
    background: rgb(180,183,185);
}

.footer-nav {
    margin-right: 125px;
    display: inline-block;
}

.footer-nav-link {
    color: #0C1927;
    font-size: 28px;
    margin-right: 35px;
}

.footer-nav-link:hover {
    color: #38a;
}

.copyright {
    font-size: 24px;
    color: #010101;
    display: inline-block;
}




