@import "reset";
@import "mixins";
@import "modificators/container";
@import "sections/header";
@import "sections/menu";
@import "sections/banner";
@import "sections/posts";
@import "sections/instagram";
@import "sections/footer";

@include for-320 {
  body {
    padding: 0 7%;
  }
}