.product {

  &__wrap {
    position: relative;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    margin-top: 10px;
  }

  &__price {
    align-self: center;
  }

  &__add-to-cart {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    padding: 7px 9px;
    border-radius: 6px;
    background: #000;
    border: 1px solid transparent;
    cursor: pointer;
    align-self: center;
  }

  &__title {
    padding: 5px 0;
  }

  &__artikul {
    padding: 5px 0;
    text-align: left;
  }
}

.favorite {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.in-cart {
  background: green;
}