.container {
    margin: 0 auto;
    width: 1030px;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

.page-bg {
    background: url("../img/background.png") no-repeat;
    background-size: cover;
    height: 100vh;
    overflow-y: scroll;
    font-family: Roboto, sans-serif;
}

.header-zone {
    padding-top: 56px;
    color: #fff;
}

.header-logo-link {
    float: left;
}

.header-logo-link:hover .logo-icon {
    content: url("../img/logo-orange.png");
    width: 53px;
}

.header-logo-link:hover .logo-title,
.gallery-link:hover .gallery-item-title,
.contacts-item:hover {
    color: #F26522;
}

.logo-title-wrapper {
    display: inline-block;
}

.logo-title {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.logo-title:first-of-type {
    font-size: 29px;
}

.header-contacts {
    float: right;
    text-align: right;
}

.contacts-item {
    font-size: 18px;
    margin-top: 5px;
    color: #fff;
    display: block;
}

.contacts-item:last-child {
    display: inline-block;
}

.gallery {
    margin-top: 27px;
}

.gallery-link {
    float: left;
    width: calc(100% / 3 - 62px);
    margin: 0 93px 41px 0;
}

.gallery-link:nth-child(3n) {
    margin-right: 0;
}

.gallery-link:hover .gallery-item-description {
    opacity: 1;
}

.gallery-item {
    height: 219px;
    margin: 0;
    display: inline-block;
    width: 100%;
    background-size: cover;
}

.gallery-item-description {
    margin-top: 156px;
    padding: 7px 3px 7px;
    background-color: #F26522;
    color: #fff;
    opacity: 0;
}

.gallery-item-cost {
    float: left;
    font-size: 20px;
    margin: 7px 0 0 16px;
}

.gallery-item-cost:before {
    content: "from";
    display: block;
    font-size: 10px;
    margin: 3px 0;
}

.gallery-item-more {
    float: right;
    margin: 28px 10px 0 0;
    font-size: 14px;
}

.gallery-item-more:after {
    content: " ";
    display: inline-block;
    margin-left: 20px;
    width: 7px;
    height: 7px;
    border: 1px solid transparent;
    border-top-color: #fff;
    border-right-color: #fff;
    transform: rotate(45deg);
}

.gallery-item-title {
    font-size: 18px;
    color: #fff;
    text-align: center;
    padding-top: 17px;
}

.shopping-tours {
    background-image: url("../img/shopping-tours.png");
}

.sightseeing-tours {
    background-image: url("../img/sightseeing-tours.png");
}

.food-tours {
    background-image: url("../img/food-tours.png");
}

.bars-nightlife {
    background-image: url("../img/bars-nightlife.png");
}

.art-architecture {
    background-image: url("../img/art-architecture.png");
}

.walking-tours {
    background-image: url("../img/walking-tours.png");
}

.footer-zone {
    text-align: center;
    padding: 15px 0;
}

.footer-text {
    color: #fff;
    font-size: 12px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}






