.footer {
  padding: 70px 32%;
  background-color: #000;
  text-align: center;
  color: #fefefe;
  font-family: 'Roboto', sans-serif;

  @include for-768 {
    padding: 57px 10%;
  }

  @include for-320 {
    padding: 38px 5%;
  }

  &__title {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;

    @include for-320 {
      font-size: 14px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 28px;
    color: #B9B9B9;
    //width: 684px;
    margin: 22px auto 44px auto;

    @include for-768 {
      margin-bottom: 37px;
    }

    @include for-320 {
      font-size: 12px;
      line-height: 20px;
      margin-bottom: 20px;
    }
  }

  &__contacts {
    font-size: 16px;
    color: #B9B9B9;
    margin-top: 34px;

    @include for-320 {
      margin-top: 25px;
      font-size: 14px;
      line-height: 24px;
      padding: 0 20px;
    }
  }

  &__social-icons {

    &_list {
      list-style: none;
      display: flex;
      justify-content: center;

      &_item {

        &_link {
          display: flex;
          align-items: stretch;
          width: 34px;
          height: 34px;
        }

        &:nth-child(1) {
          border: 2px solid #F8902E;
          border-radius: 50%;
          background: url("../img/rss-icon.png") center no-repeat;
        }

        &:nth-child(2) {
          border: 2px solid #39599F;
          border-radius: 50%;
          background: url("../img/facebook-icon.png") center no-repeat;
        }

        &:nth-child(3) {
          border: 2px solid #45B0E3;
          border-radius: 50%;
          background: url("../img/twitter-icon.png") center no-repeat;
        }

        &:nth-child(4) {
          border: 2px solid #D97AB0;
          border-radius: 50%;
          background: url("../img/dribbble-icon.png") center no-repeat;
        }

        &:nth-child(5) {
          border: 2px solid #CC212C;
          border-radius: 50%;
          background: url("../img/pinterest-icon.png") center no-repeat;
        }
      }

      &_item {
        margin-left: 6px;
      }

      &_item:hover {
        border: 2px solid white;
      }
    }
  }
}