.our-recent-posts {
  padding: 66px 0;
  font-family: 'Roboto', sans-serif;

  &__title {
    @include h2-title;

    @include for-320 {
      font-size: 14px;
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;

    @include for-768 {
      flex-direction: column;
    }

    @include for-320 {
      flex-direction: column;
    }

    &_post {
      display: flex;
      width: 50%;
      margin-top: 32px;

      @include for-768 {
        width: 100%;
      }

      @include for-320 {
        flex-direction: column;
        width: 100%;
      }

      &_img-wrap {
        margin-right: 20px;
        min-width: 160px;
        height: 140px;

        @include for-320 {
          max-width: 160px;
          margin-bottom: 20px;
        }

        &_image {
          height: 100%;
          width: 100%;
        }
      }

      &_description {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        &_title {
          font-weight: bold;
          font-size: 16px;
          color: #4E4E4E;

          @include for-320 {
            font-size: 14px;
          }
        }

        &_comments {
          margin-top: 10px;
          font-size: 12px;
          color: #7C7C7C;

          &_link {
            text-decoration: none;
            color: #7C7C7C;
          }

          @include for-320 {
            font-size: 11px;
            margin-top: 11px;
          }
        }

        &_text {
          margin-top: 13px;
          font-size: 14px;
          line-height: 26px;
          color: #5C5C5C;

          @include for-320 {
            display: none;
          }
        }
      }
    }
  }
}
