#floatingCirclesG{
  position:relative;
  width:125px;
  height:125px;
  margin:auto;
  transform:scale(0.6);
  -o-transform:scale(0.6);
  -ms-transform:scale(0.6);
  -webkit-transform:scale(0.6);
  -moz-transform:scale(0.6);
}

.f_circleG{
  position:absolute;
  background-color:rgb(255,255,255);
  height:22px;
  width:22px;
  border-radius:12px;
  -o-border-radius:12px;
  -ms-border-radius:12px;
  -webkit-border-radius:12px;
  -moz-border-radius:12px;
  animation-name:f_fadeG;
  -o-animation-name:f_fadeG;
  -ms-animation-name:f_fadeG;
  -webkit-animation-name:f_fadeG;
  -moz-animation-name:f_fadeG;
  animation-duration:0.622s;
  -o-animation-duration:0.622s;
  -ms-animation-duration:0.622s;
  -webkit-animation-duration:0.622s;
  -moz-animation-duration:0.622s;
  animation-iteration-count:infinite;
  -o-animation-iteration-count:infinite;
  -ms-animation-iteration-count:infinite;
  -webkit-animation-iteration-count:infinite;
  -moz-animation-iteration-count:infinite;
  animation-direction:normal;
  -o-animation-direction:normal;
  -ms-animation-direction:normal;
  -webkit-animation-direction:normal;
  -moz-animation-direction:normal;
}

#frotateG_01{
  left:0;
  top:51px;
  animation-delay:0.2295s;
  -o-animation-delay:0.2295s;
  -ms-animation-delay:0.2295s;
  -webkit-animation-delay:0.2295s;
  -moz-animation-delay:0.2295s;
}

#frotateG_02{
  left:15px;
  top:15px;
  animation-delay:0.316s;
  -o-animation-delay:0.316s;
  -ms-animation-delay:0.316s;
  -webkit-animation-delay:0.316s;
  -moz-animation-delay:0.316s;
}

#frotateG_03{
  left:51px;
  top:0;
  animation-delay:0.3925s;
  -o-animation-delay:0.3925s;
  -ms-animation-delay:0.3925s;
  -webkit-animation-delay:0.3925s;
  -moz-animation-delay:0.3925s;
}

#frotateG_04{
  right:15px;
  top:15px;
  animation-delay:0.469s;
  -o-animation-delay:0.469s;
  -ms-animation-delay:0.469s;
  -webkit-animation-delay:0.469s;
  -moz-animation-delay:0.469s;
}

#frotateG_05{
  right:0;
  top:51px;
  animation-delay:0.5455s;
  -o-animation-delay:0.5455s;
  -ms-animation-delay:0.5455s;
  -webkit-animation-delay:0.5455s;
  -moz-animation-delay:0.5455s;
}

#frotateG_06{
  right:15px;
  bottom:15px;
  animation-delay:0.622s;
  -o-animation-delay:0.622s;
  -ms-animation-delay:0.622s;
  -webkit-animation-delay:0.622s;
  -moz-animation-delay:0.622s;
}

#frotateG_07{
  left:51px;
  bottom:0;
  animation-delay:0.6985s;
  -o-animation-delay:0.6985s;
  -ms-animation-delay:0.6985s;
  -webkit-animation-delay:0.6985s;
  -moz-animation-delay:0.6985s;
}

#frotateG_08{
  left:15px;
  bottom:15px;
  animation-delay:0.775s;
  -o-animation-delay:0.775s;
  -ms-animation-delay:0.775s;
  -webkit-animation-delay:0.775s;
  -moz-animation-delay:0.775s;
}



@keyframes f_fadeG{
  0%{
    background-color:rgb(0,0,0);
  }

  100%{
    background-color:rgb(255,255,255);
  }
}

@-o-keyframes f_fadeG{
  0%{
    background-color:rgb(0,0,0);
  }

  100%{
    background-color:rgb(255,255,255);
  }
}

@-ms-keyframes f_fadeG{
  0%{
    background-color:rgb(0,0,0);
  }

  100%{
    background-color:rgb(255,255,255);
  }
}

@-webkit-keyframes f_fadeG{
  0%{
    background-color:rgb(0,0,0);
  }

  100%{
    background-color:rgb(255,255,255);
  }
}

@-moz-keyframes f_fadeG{
  0%{
    background-color:rgb(0,0,0);
  }

  100%{
    background-color:rgb(255,255,255);
  }
}