@mixin h2-title {
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  color: #4E4E4E;
}

@mixin for-1200 {
  @media (min-width: 769px) {
    @content;
  }
}

@mixin for-768 {
  @media (min-width: 321px) and (max-width: 768px) {
    @content;
  }
}

@mixin for-320 {
  @media (max-width: 320px) {
    @content;
  }
}