.image-to-show {
    width: 400px;
    height: 400px;
    display: none;
}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.active {
    display: block;
}

.stop {
    margin: 25px 0;
}

.start {
    margin-left: 15px;
}
