.latest-instagram-shots {
  padding: 47px 0;
  font-family: 'Roboto', sans-serif;

  @include for-320 {
    padding: 20px 0;
  }

  &__title-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__title-wrapper_title {
    @include h2-title;

    @include for-320 {
      font-size: 14px;
    }
  }

  &__title-wrapper_link {
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    color: #4E4E4E;

    @include for-320 {
      display: none;
    }
  }

  &__gallery {
    display: flex;
    justify-content: space-between;
    margin-top: 22px;

    &_item {

      @include for-768 {
        &:last-child {
          display: none;
        }
      }

      @include for-320 {
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
          display: none;
        }
      }

      &_img {
        width: 100%;
      }
    }

    &_item + &_item {
      margin-left: 1%;
    }
  }
}

