.menu {
  padding: 45px 0;
  position: relative;

  &_active {

  }

  &_active::after, &_active::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background-color: #fff;
    position: absolute;

    left: 12px;
    transform: rotate(45deg) ;
  }

  &_active::before {
    transform: rotate(-45deg) ;
  }

  @include for-320 {
    & {
      position: absolute;
      width: 44px;
      height: 37px;
      top: 23px;
      right: 0;
      background: #000;
      cursor: pointer;
      padding: 0 14px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__hamburger-wrap-item {
      display: block;
      height: 2px;
      background: #fff;
    }

    &__hamburger-wrap-item + &__hamburger-wrap-item {
      margin-top: 2px;
    }
  }

  &__list {
    display: flex;
    list-style: none;
    justify-content: center;

    @include for-320 {

      & {
        display: none;
        background: #F5F5F5;
        z-index: 3;
        width: 150px;
        position: absolute;
        top: 37px;
        right: 0;
      }
    }

    &_item {

      @include for-320 {
        & {
          line-height: 1.8em;
          padding-left: 15px;
        }

        @include for-320 {

          &:hover {
            background: #E5E5E5;
          }

          &:hover &_link {
            color: #57A4A4;
          }
        }
      }

      &_link {
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-size: 11px;
        letter-spacing: 1.1px;
        text-transform: uppercase;
        color: #4E4E4E;
      }

      &_link:hover {
        color: #57A4A4;
      }


    }

    @include for-768 {
      &_item + &_item {
        margin-left: 6%;
      }
    }

    @include for-1200 {
      &_item + &_item {
        margin-left: 6%;
    }
}

  }
}



