a {
    text-decoration: none;
}

p, h1, h2, figure {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding-left: 0;
}

button {
    border: none;
    outline: none;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    margin: 0 auto;
    width: 1160px;
}

.header-bg {
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url("../img/header-bg.jpg") center no-repeat fixed;
    background-size: cover;
}

.header-wrap {
    background: rgba(94, 93, 88, 0.6);
    padding: 26px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 58px;
    height: 67px;
    background: url("../img/logo.svg") no-repeat;
    display: inline-flex;
    justify-content: center;
}

.logo-icon {
    align-self: center;
}

.header-logo-title {
    font-size: 32px;
    font-weight: normal;
    color: #fff;
}

.header-logo-title-green {
    font-weight: bold;
}

.header-logo-title {
    display: inline;
}

.menu-wrap {
    display: flex;
    align-items: center;
}

.header-menu {
    display: flex;
}

.header-menu-item {
    margin-right: 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

.fa-search {
    cursor: pointer;
}

.head-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 264px;
    padding-bottom: 243px;
}

.head-banner-before-title {
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
    color: #fff;
}

.head-banner-content-title {
    font-weight: bold;
    font-size: 78px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 17px;
}

.head-banner-after-title {
    font-size: 33px;
    text-transform: capitalize;
    font-weight: 200;
    margin-top: 17px;
}

.head-banner-content-link-wrap {
    display: flex;
    margin-top: 140px;
}

.head-banner-content-link,
.everything-purchase {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 16px 18px;
    border-top: 5px solid #fff;
}

.head-banner-content-link:first-of-type,
.everything-purchase {
    background: #18CFAB;
    margin-right: 20px;
}

.head-banner-content-link:last-of-type {
    background: #00CBF6;
}

.services {
    margin: 5px 0;
    display: flex;
}

.services-figure {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    width: 482px;
    height: 377px;
    background: #1C2A33;
    color: #fff;
    display: grid;
    grid-template-rows: auto 120px;
    justify-items: center;
}

.services-figure-img {
    align-self: center;
}

.services-figure-description {
    text-align: center;
}

.our-services,
.our-amazing-work,
.breaking-news,
.what-people-say {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.our-services-title,
.our-amazing-work-title,
.breaking-news-title,
.what-people-say-title {
    font-weight: normal;
    font-size: 36px;
    color: #4E4E4E;
    text-transform: capitalize;
}

.our-services-title::after,
.breaking-news-title::after,
.our-amazing-work-title::after,
.what-people-say-title::after {
    content: '';
    display: block;
    width: 80px;
    height: 4px;
    margin: 24px auto 70px auto;
    border-top: 1px solid #18CFAB;
    border-bottom: 1px solid #18CFAB;
    transform: skew(66deg);
}

.our-services-tabs,
.our-amazing-work-tabs {
    display: flex;
}

.our-services-tabs-title {
    padding: 20px;
    color: #717171;
    font-size: 16px;
    cursor: pointer;
}

.our-services-tabs-title.active {
    background: #18CFAB;
    color: #fff;
    position: relative;
}

.our-services-tabs-title.active::after {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    background: #18CFAB;
    left: calc(50% - 5px);
    bottom: -5px;
    transform: rotate(45deg);
}

.our-services-tabs-content {
    width: 900px;
}

.our-services-tabs-content-item {
    display: none;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
}

.our-services-img-wrap {
    float: left;
    margin-right: 15px;
    width: 192px;
    height: 139px;
    overflow: hidden;
}

.everything {
    display: flex;
    flex-direction: column;
    align-items: center;
    background:  linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url("../img/everything-bg.jpg") center no-repeat;
    background-size: cover;
    padding: 126px 0 143px 0;
}

.everything-title {
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
}

.everything-description {
    margin-top: 12px;
    font-size: 16px;
    color: #D8D8D8;
}

.everything-purchase {
    margin-top: 62px;
}

.our-amazing-work {
    background: #E9EDEF;
}

.our-amazing-work-tabs-title  {
    font-size: 14px;
    color: #717171;
    padding: 14px 27px;
    border-left: 1px solid #DADADA;
    border-top: 1px solid #DADADA;
    border-bottom: 1px solid #DADADA;
    cursor: pointer;
}

.our-amazing-work-tabs-title:last-of-type {
    border-right: 1px solid #DADADA;
}

.our-amazing-work-tabs-title.work-active {
    border: 2px solid #18CFAB;
}

.our-amazing-work-tabs-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1170px;
    margin-top: 70px;
}

.our-amazing-work-link {
    width: 285px;
    height: 206px;
    position: relative;
}

.our-amazing-work-img {
    width: 100%;
    display: block;
}

.our-amazing-work-img-hover {
    width: 100%;
    height: 100%;
    z-index: 2;
    background: #E9EDEF;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.our-amazing-work-img-hover-link-wrap {
    display: flex;
    justify-content: center;
}

.our-amazing-work-img-hover-link {
    background: url("../img/hover-icons.png") no-repeat;
    height: 39px;
    width: 39px;
    border-radius: 50%;
    display: block;
    border: 1px solid #18CFAB;
}

.our-amazing-work-img-hover-link:first-of-type {
    background-position: -41px 0;
}

.our-amazing-work-img-hover-link:first-of-type:hover {
    background-position: -40px -40px;
}


.our-amazing-work-img-hover-link:last-of-type {
    background-position: -2px 0;
}

.our-amazing-work-img-hover-link:last-of-type:hover {
    background-position: -1px -40px;
}

.load-more {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 70px;
}

.load-more-plus {
    margin-right: 15px;
    font-size: 30px;
}

.breaking-news-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.breaking-news-gallery-item-wrap {
    width: 263px;
}

.breaking-news-gallery-link:hover .breaking-news-gallery-item-description {
    background: #18CFAB;
}

.breaking-news-gallery-link:hover .breaking-news-gallery-item-title {
    color: #18CFAB;
}

.breaking-news-gallery-item {
    height: 208px;
    position: relative;
}

.item-1 {
    background: url('../img/breaking-news-1.png') no-repeat;
}

.item-2 {
    background: url('../img/breaking-news-2.png') no-repeat;
}

.item-3 {
    background: url('../img/breaking-news-3.png') no-repeat;
}

.item-4 {
    background: url('../img/breaking-news-4.png') no-repeat;
}

.item-5 {
    background: url('../img/breaking-news-5.png') no-repeat;
}

.item-6 {
    background: url('../img/breaking-news-6.png') no-repeat;
}

.item-7 {
    background: url('../img/breaking-news-7.png') no-repeat;
}

.item-8 {
    background: url('../img/breaking-news-8.png') no-repeat;
}

.breaking-news-gallery-item-description {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    right: 0;
    background: #203E38;
    padding: 8px 15px;
    font-size: 16px;
    color: #fff;
}

.breaking-news-gallery-item-date:first-child {
    padding-bottom: 3px;
}

.breaking-news-gallery-item-title {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #717171;
    padding: 10px;
    text-transform: capitalize;
}

.breaking-news-gallery-item-details {
    display: flex;
    justify-content: center;
    font-weight: 300;
    font-size: 14px;
    color: #777;
    margin-bottom: 40px;
}

.breaking-news-gallery-item-details-user:first-child::after {
    content: "|";
    margin: 0 10px;
}

.breaking-news-gallery-item-details-comments {
    color: #777;
}

.what-people-say {
    background: url("../img/what-people-say-bg.png") no-repeat;
    background-size: cover;
    padding-bottom: 100px;
}

.what-people-say-title {
    color: #fff;
    text-transform: inherit;
}

.glide__slides {
    color: #fff;
}

.glide__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.glide__slide::before {
    content: "\201C";
    color: #DADADA;
    font-size: 100px;
}

.slide-user-description {
    font-weight: 300;
    font-size: 16px;
    color: #BBBBBB;
    line-height: 30px;
    text-align: center;
    margin-bottom: 40px;
}

.slide-user-name {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.slide-user-skill {
    font-weight: 300;
    font-size: 14px;
    color: #BBBBBB;
    margin-bottom: 40px;
}

.slide-user-photo {
    border: 10px solid rgba(255, 255, 255, .1);
    border-radius: 50%;
}

.glide__bullet-user-preview {
    border: 4px solid rgba(255, 255, 255, .1);
    border-radius: 50%;
}

.what-people-say-controls {
    margin-top: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.what-people-say-controls .glide__bullets {
    width: 100%;
    transform: none;
    position: relative;
    bottom: 35px;
    left: 0;
    display: flex;
    justify-content: center;
}

.what-people-say-controls .glide__bullet + .glide__bullet {
    margin-left: 25px;
}

.what-people-say-controls .glide__bullet {
    background: none;
    width: auto;
    height: auto;
}

.what-people-say-controls .glide__bullet:hover {
    border: 2px solid transparent;
}

.what-people-say-controls .glide__bullet--active {
    transform: translateY(-25px);
    border: 2px solid transparent;
}

.what-people-say-controls .glide__bullet:focus {
    border: 2px solid transparent;
    background: none;
}

.what-people-say-controls .glide__arrows {
    width: 50%;
    position: relative;
    margin-top: 40px;
}

.what-people-say-controls .glide__arrows .glide__arrow--left,
.what-people-say-controls .glide__arrows .glide__arrow--right {
    z-index: 3;
    border: 1px solid #BBBBBB;
    padding: 4px 8px;
    border-radius: 0;
}

.what-people-say-controls .glide__arrows .glide__arrow--left:hover,
.what-people-say-controls .glide__arrows .glide__arrow--right:hover {
    background: #18CFAB;
}

.footer-wrap {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    background: #22353F;
    padding: 48px;
}

.footer-copyright {
    font-weight: 300;
    font-size: 14px;
    color: #AEAEAE;
}





.green {
    color: #18CFAB;
}

.green-bg {
    background: #18CFAB;
}

.font-icon {

}
