.container {
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.btn {
  padding: 10px 30px;
  margin: 10px 0;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.btn_first {
  background: brown;
}

.btn_second{
  background: darkgreen;
}

.buttons .btn {
  color: #fff;
}

.popup-wrap {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.popup-wrap_active {
  display: flex;
}

.popup {
  width: 450px;
  border-radius: 7px;
  background-color: #e94b35;
  position: relative;
  color: #fff;

  &__header {
    position: relative;
    display: flex;
    background: #d64531;
    color: #fff;
    border-radius: 7px 7px 0 0;
    padding-left: 20px;
  }

&__caption {
   text-align: center;
 }

&__text {
   display: flex;
   justify-content: center;
   text-align: center;
   padding: 20px 0 20px 0;
 }
}

.close {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 15px;
  right: 15px;
  transition: all 0.2s ease;
}

.close::after, .close::before{
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 0;
  transform: rotate(45deg) translateY(-50%);
}

.close::before {
  transform: rotate(-45deg) translateY(-50%);
}

.close:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: center;
}

.buttons .btn + .btn {
  margin-left: 12px;
}