a {
    text-decoration: none;
}

p, h1 {
    margin: 0;
    padding: 0;
}

.page-bg {
    background: url("../img/background.png") no-repeat;
    background-size: cover;
    height: 100vh;
    overflow-y: scroll;
    font-family: 'Ubuntu', sans-serif;
}

.container {
    margin: 0 auto;
    width: 1280px;
}

.header-zone {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 19px 0;
}

.header-logo-link {
    float: left;
}

.logo {
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
}

.header-nav {
    float: right;
}

.header-nav-navigation {
    display: inline-block;
}

.icon {
    background: url("../img/css_sprites.png") no-repeat;
    width: 28px;
    height: 20px;
    display: inline-block;
    margin-right: 25px;
    position: relative;
    top: 3px;
}

.calendar {
    background-position: -10px -205px;
}

.calendar:hover {
    background-position: -10px -46px;
}

.forum {
    background-position: -10px -285px;
}

.forum:hover {
    background-position: -10px -165px;
}

.journey {
    background-position: -10px -245px;
}

.journey:hover {
    background-position: -10px -125px;
}

.header-nav-registration {
    display: inline-block;
    color: #fff;
}

.header-nav-registration::before {
    content: "|";
    margin-right: 25px;

}

.header-nav-registration-desc {
    display: inline;
    color: #fff;
}

.header-nav-registration-link {
    color: #fff;
}

.header-logo-link:hover .logo,
.header-nav-registration-link:hover {
    color: #3CB878;
}

.form-wrapper {
    background: #fff;
    position: relative;
    padding: 30px 60px;
    width: 340px;
    margin: 0 auto;
    box-shadow: 0px 4px 42px rgba(0, 0, 0, 0.76);
    border-radius: 7px;
    transform: translateY(calc((100vh - 63px - 658px) / 2));
}

.form-wrapper-title {
    float: left;
    font-size: 20px;
    color: #434343;;
}

.form-wrapper-title::before {
    content: "";
    width: 18px;
    height: 18px;
    background: #3CB878;
    position: absolute;
    left: 0;
    margin-top: 3px;
}

.form-wrapper-link {
    float: right;
    font-size: 14px;
    color: #3CB878;
}

.form-wripper-social {
    margin-top: 14px;
}

.form-wripper-social-link {
    float: left;
    padding: 14px 21px 14px 75px;
    background: #305DB8;
    color: #fff;
    border-radius: 3px;
    position: relative;
}

.form-wripper-social-link::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    left: 21px;
    background: url("../img/css_sprites.png") -10px -85px no-repeat;
}

.form-wripper-social-link:last-of-type {
    float: right;
    background: #DF4A32;
    padding-left: 87px;
    padding-right: 27px;
}

.form-wripper-social-link:last-of-type::before {
    content: "";
    display: inline-block;
    width: 40px;
    background: url("../img/css_sprites.png") -10px -10px no-repeat;
}

.or {
    font-size: 14px;
    color: #848484;
    position: relative;
    margin-top: 32px;
    margin-bottom: 32px;
    text-align: center;
}

.or::after,
.or::before {
    content: "";
    display: inline-block;
    width: 144px;
    height: 1px;
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
    top: 50%;
}

.or::after {
    margin-left: 15px;
    right: 0;
}

.or::before {
    margin-right: 15px;
    left: 0;
}

.form-user-info {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 17px;
    margin-bottom: 16px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    font-size: 14px;
    color: #434343;
}

.form-user-info::placeholder {
    color: #BEBEBE;
    font-size: 14px;
}

.agree-desc {
    display: inline-block;
    font-size: 14px;
    color: #434343;
    padding-left: 7px;
}

.agree-link {
    font-size: 14px;
    color: #3CB878;
}

.form-button {
    margin-top: 31px;
    width: 100%;
    padding: 14px 0;
    background: #3CB878;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    border: none;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}