.products__container {
  display: grid;
  row-gap: 50px;

  @media screen and (max-width: 480px) {
    justify-content: center;
    grid-template-columns: repeat(1, 240px);
  }

  @media screen and (min-width: 481px) {
    justify-content: space-around;
    grid-template-columns: repeat(2, auto)
  }

  @media screen and (min-width: 761px) {
    justify-content: space-between;
    grid-template-columns: repeat(3, auto)
  }

  @media screen and (min-width: 993px) {
    justify-content: space-between;
    grid-template-columns: repeat(4, auto)
  }
}