a {
    text-decoration: none;
}

p, h1, h2, figure, menu {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding-left: 0;
}

button {
    border: none;
    outline: none;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    margin: 0 auto;
    width: 1160px;
}

.header-bg {
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url("../img/header-bg.jpg") center no-repeat fixed;
    background-size: cover;
}

.header-wrap {
    background: rgba(94, 93, 88, 0.6);
    padding: 26px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 58px;
    height: 67px;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background: #18CFAB;
    display: inline-flex;
    justify-content: center;
}

.logo::after {
    content: "H";
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    align-self: center;
}

.header-logo-title {
    font-size: 32px;
    font-weight: normal;
    color: #fff;
    align-self: center;
}

.header-logo-title-green {
    font-weight: bold;
}

.header-logo-title {
    display: inline;
}

.menu-wrap {
    display: flex;
    align-items: center;
}

.header-menu {
    display: flex;
}

.header-menu-item-list-item {
    list-style: none;
    display: inline;
}

.header-menu-item {
    margin-right: 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.6);
    position: relative;
    display: inline-block;
}

.header-menu-item:hover {
    color: #18CFAB;
}

.header-menu-item-list-item:hover .header-menu-item::after {
    display: block;
}

.header-menu-item::after {
    content: "";
    display: none;
    position: absolute;
    bottom: -50px;
    width: 100%;
    border-top: 2px solid #18CFAB;
}

.search {
    width: 17px;
    height: 16px;
    cursor: pointer;
}

.head-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 264px;
    padding-bottom: 243px;
}

.head-banner-before-title {
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
    color: #fff;
}

.head-banner-content-title {
    font-weight: bold;
    font-size: 78px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 17px;
}

.head-banner-after-title {
    font-size: 33px;
    text-transform: capitalize;
    font-weight: 200;
    margin-top: 17px;
}

.head-banner-content-link-wrap {
    display: flex;
    margin-top: 140px;
}

.head-banner-content-link,
.everything-purchase {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 16px 18px;
    border-top: 5px solid #fff;
    background: #18CFAB;
    margin-right: 20px;
}

.head-banner-content-link:last-of-type {
    background: #00CBF6;
}

.services {
    margin: 5px 0;
    display: flex;
}

.services-figure {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    width: calc(100% / 4);
    padding-top: 95px;
    padding-bottom: 110px;
    background: #1C2A33;
    display: grid;
    grid-row-gap: 50px;
    justify-items: center;
    color: #18CFAB;
}

.services-figure:nth-child(2n) {
    padding-top: 105px;
    background: #18CFAB;
    color: #fff;
}

.services-figure-img {
    align-self: center;
}

.services-figure-description {
    text-align: center;
    align-self: end;
}

.our-services,
.our-amazing-work,
.breaking-news,
.what-people-say {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.our-services-title,
.our-amazing-work-title,
.breaking-news-title,
.what-people-say-title {
    font-weight: normal;
    font-size: 36px;
    color: #4E4E4E;
    text-transform: capitalize;
}

.our-services-title::after,
.breaking-news-title::after,
.our-amazing-work-title::after,
.what-people-say-title::after {
    content: '';
    display: block;
    width: 80px;
    margin: 24px auto 70px auto;
    border-top: 1px solid #18CFAB;
    box-shadow: 6px 4px 0 0 #18CFAB;
}

.our-services-tabs,
.our-amazing-work-tabs {
    display: flex;
}

.our-services-tabs {
    background: #F8FCFE;
}

.our-services-tabs-title {
    padding: 20px;
    color: #717171;
    font-size: 16px;
    cursor: pointer;
    border-top: 1.5px solid #EDEFEF;
    border-left: 1.5px solid #EDEFEF;
    border-bottom: 1.5px solid #EDEFEF;
}

.our-services-tabs-title:first-child {
    border-left: 1.5px solid #EDEFEF;
}

.our-services-tabs-title:last-child {
    border-right: 1.5px solid #EDEFEF;
}

.our-services-tabs-title:hover + li {
    border-left: 1.5px solid #18CFAB;
}

.our-services-tabs-title:last-child:hover {
    border: 1.5px solid #18CFAB;
}

.our-services-tabs-title:hover {
    border-top: 1.5px solid #18CFAB;
    border-left: 1.5px solid #18CFAB;
    border-bottom: 1.5px solid #18CFAB;
}



.our-services-tabs-title.active {
    background: #18CFAB;
    color: #fff;
    position: relative;
    border: 1.5px solid #18CFAB;
}

.our-services-tabs-title.active::after {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    background: #18CFAB;
    left: calc(50% - 5px);
    bottom: -5px;
    transform: rotate(45deg);
}

.our-services-tabs-content {
    width: 900px;
}

.our-services-tabs-content-item {
    display: none;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
}

.our-services-wrap {
    display: flex;
}

.our-services-img-wrap {
    margin-right: 15px;
    width: 192px;
    height: 139px;
}

.everything {
    display: flex;
    flex-direction: column;
    align-items: center;
    background:  linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url("../img/everything-bg.jpg") center no-repeat;
    background-size: cover;
    padding: 126px 0 143px 0;
}

.everything-title {
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
}

.everything-description {
    margin-top: 12px;
    font-size: 16px;
    color: #D8D8D8;
}

.everything-purchase {
    margin-top: 62px;
}

.our-amazing-work {
    background: #E9EDEF;
}

.our-amazing-work-tabs-title  {
    font-size: 14px;
    color: #717171;
    padding: 14px 27px;
    border-left: 1px solid #DADADA;
    border-top: 1px solid #DADADA;
    border-bottom: 1px solid #DADADA;
    cursor: pointer;
}

.our-amazing-work-tabs-title:last-of-type {
    border-right: 1px solid #DADADA;
}

.our-amazing-work-tabs-title.work-active {
    border: 2px solid #18CFAB;
    color: #18CFAB;
}

.our-amazing-work-tabs-title:not(.work-active):hover {
    border: 1px solid #18CFAB;
}

.our-amazing-work-tabs-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1170px;
    margin-top: 70px;
}

.our-amazing-work-link {
    width: 285px;
    height: 206px;
    position: relative;
}

.our-amazing-work-link:hover .our-amazing-work-img-hover-wrap {
    display: block;
}

.our-amazing-work-img {
    width: 100%;
    display: block;
}

.our-amazing-work-img-hover-wrap {
    display: none;
}

.our-amazing-work-img-hover {
    width: 100%;
    height: 100%;
    z-index: 2;
    background: #E9EDEF;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
}

.our-amazing-work-img-hover-link-wrap {
    display: flex;
    justify-content: center;
}

.our-amazing-work-img-hover-link-obj {
    display: flex;
}

.our-amazing-work-img-hover-link {
    background: url("../img/hover-icons.png") no-repeat;
    height: 39px;
    width: 39px;
    border-radius: 50%;
    display: block;
    border: 1px solid #18CFAB;
}

.our-amazing-work-img-hover-link:first-of-type {
    background-position: -40px -40px;
    margin-right: 5px;
}

.our-amazing-work-img-hover-link:first-of-type:hover {
    background-position: -41px 0;
}


.our-amazing-work-img-hover-link:last-of-type {
    background-position: -1px -40px;
}

.our-amazing-work-img-hover-link:last-of-type:hover {
    background-position: -2px 0;
}

.our-amazing-work-img-hover-title {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #18CFAB;
    margin: 35px 0 10px 0;
}

.our-amazing-work-img-hover-description {
    font-weight: 300;
    font-size: 12px;
    color: #8A8A8A;
}

.load-more {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 70px;
}

.load-more-plus {
    margin-right: 15px;
    font-size: 30px;
}

.breaking-news {
    padding-bottom: 80px;
}

.breaking-news-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.breaking-news-gallery-link {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: calc(100% / 4 - 30px);
    position: relative;
    padding-bottom: 20px;
}

.breaking-news-gallery-link:hover .breaking-news-gallery-item-description {
    background: #18CFAB;
}

.breaking-news-gallery-link:hover .breaking-news-gallery-item-title {
    color: #18CFAB;
}

.breaking-news-gallery-item {
    height: 208px;
    position: relative;
}

.breaking-news-gallery-item-description {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    right: 0;
    background: #203E38;
    padding: 8px 15px;
    font-size: 16px;
    color: #fff;
}

.breaking-news-gallery-item-date:first-child {
    padding-bottom: 3px;
}

.breaking-news-gallery-item-title {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #717171;
    padding: 10px;
    text-transform: capitalize;
}

.breaking-news-gallery-item-details {
    display: flex;
    justify-content: center;
    font-weight: 300;
    font-size: 14px;
    color: #777;
    margin-bottom: 40px;
    margin-left: -10px;
}

.breaking-news-gallery-item-details-user:first-child::after {
    content: "|";
    margin: 0 10px;
}

.breaking-news-gallery-item-details-comments {
    color: #777;
}

.what-people-say {
    background: url("../img/what-people-say-bg.png") center 1px no-repeat;
    background-size: cover;
    padding-bottom: 100px;
}

.what-people-say-title {
    color: #fff;
    text-transform: inherit;
}

.what-people-say-title::after {
    margin-bottom: 50px;
}

.glide__slides {
    color: #fff;
}

.glide__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.glide__slide::before {
    content: "";
    width: 44px;
    height: 31px;
    background: url("../img/quotes.png") no-repeat;
}

.slide-user-description {
    font-weight: 300;
    font-size: 16px;
    color: #BBBBBB;
    line-height: 30px;
    text-align: center;
    margin: 40px 0 35px 0;
}

.slide-user-name {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.slide-user-skill {
    font-weight: 300;
    font-size: 14px;
    color: #BBBBBB;
    margin-bottom: 40px;
}

.slide-user-photo {
    border: 10px solid rgba(255, 255, 255, .1);
    border-radius: 50%;
}

.glide__bullet-user-preview {
    border: 4px solid rgba(255, 255, 255, .1);
    border-radius: 50%;
}

.what-people-say-controls {
    margin-top: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.what-people-say-controls .glide__bullets {
    transform: none;
    position: relative;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

.what-people-say-controls .glide__bullet + .glide__bullet {
    margin-left: 25px;
}

.what-people-say-controls .glide__bullet {
    background: none;
    width: auto;
    height: auto;
}

.what-people-say-controls .glide__bullet:hover {
    border: 2px solid transparent;
}

.what-people-say-controls .glide__bullet--active {
    transform: translateY(-25px);
    border: 2px solid transparent;
}

.what-people-say-controls .glide__bullet:focus {
    border: 2px solid transparent;
    background: none;
}

.what-people-say-controls .glide__arrows {
    position: relative;
    display: flex;
    padding: 0 50px;
}

.glide__arrow {
    display: flex;
}

.what-people-say-controls .glide__arrows .glide__arrow--left,
.what-people-say-controls .glide__arrows .glide__arrow--right {
    z-index: 3;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 0;
    padding: 7px 10px;
}

.what-people-say-controls .glide__arrows .glide__arrow--left {
    left: 0;
}

.arrow-left {
    width: 8px;
    height: 13px;
    background: url("../img/arrows.png") -8px 0 no-repeat;
    align-items: center;
}

.arrow-right {
    width: 8px;
    height: 13px;
    background: url("../img/arrows.png") 0 0 no-repeat;
    align-items: center;
}

.what-people-say-controls .glide__arrows .glide__arrow--right {
    right: 0;
}

.what-people-say-controls .glide__arrows .glide__arrow--left:hover,
.what-people-say-controls .glide__arrows .glide__arrow--right:hover {
    background: #18CFAB ;
}

.what-people-say-controls .glide__arrows .glide__arrow--left:hover .arrow-left {
    background-position: -8px -12px;
}
.what-people-say-controls .glide__arrows .glide__arrow--right:hover .arrow-right {
    background-position: 0 -12px;
}

.footer-wrap {
    display: flex;
    justify-content: center;
    background: #22353F;
    padding: 48px;
}

.footer-copyright {
    font-weight: 300;
    font-size: 14px;
    color: #AEAEAE;
}

.green {
    color: #18CFAB;
}

.green-bg {
    background: #18CFAB;
}

/* CSS Loader */

.bar-wrapper {
    width: 200px;
    height: 30px;
    background: #00CBF6;
    border-radius: 7px;
    overflow: hidden;
    margin: 40px auto;
    box-shadow: 0 3px 4px rgba(0, 0, 0, .3);
}

.bar {
    height: 30px;
    width: 400px;
    background: repeating-linear-gradient(45deg, rgba(255, 255, 255, .9) 0, rgba(255, 255, 255, .9) 5px, transparent 10px, transparent 20px);
    animation: loader 5s linear infinite;
}

@keyframes loader {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -100%;
    }
}
