.btn {
  padding: 10px 30px;
  margin: 10px 0;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.btn_first {
  background: brown;
}

.btn_second{
  background: darkgreen;
}

.buttons .btn {
  color: #fff;
}

.buttons {
  display: flex;
  justify-content: center;
}

.buttons .btn + .btn {
  margin-left: 12px;
}