.films {
    display: flex;
}

.film__item {
    border: 1px solid #333;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.character__item {
    display: inline;
    margin-right: 10px;
    font-style: italic;
    font-weight: bolder;
}

.character__item::after {
    content: ";";
}

.character__item::before {
    content: "• ";
}

ul {
    padding-left: 0;
}