a {
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}

.main-table {
    width: 1192px;
    border: 22px solid #3A4965;
    margin: 0 auto;
    border-collapse: collapse;
}

.main-table-cell {
    border: 1px solid #ccc;
    text-align: center;
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;
    color: #484848;
    padding-top: 25px;
    padding-bottom: 25px;
}

.main-table__head_row .main-table-cell:first-of-type {
    padding-left: 35px;
    padding-right: 35px;
}

.table-cell__padding_none {
    padding-bottom: 0;
}

.main-table-head-title:first-child {
    font-size: 18px;
}

.main-table-head-title:last-child {
    font-size: 30px;
}

.table-sell__green {
    background: #89C331;
    font-size: 24px;
    color: white;
}

.table-sell__red {
    background: #F04A56;
    font-size: 30px;
    color: white;
}

.table-sell__till {
    background: #20807C;
    font-size: 24px;
    color: white;
}

.main-table-head-price {
    font-size: 60px;
    font-weight: bold;
    padding: 0;
    text-align: right;
}

.main-table-head-price-sup {
    font-size: 24px;
    position: relative;
    top: -40px;
}

.main-table-head-price-period {
    font-size: 18px;
    font-weight: normal;
    position: relative;
    right: 30px;
    bottom: 20px;
}

.font-icon {
    margin-right: 7px;
    color: #848484;
    font-size: 20px;
}

.main-table__body_row:nth-child(odd) {
    background: #F2F2F2;
}

.main-table__body_row:nth-child(even) {
    background: #E3E3E3;
}

.main-table-foot-link {
    font-size: 16px;
    font-weight: bold;
    color: white;
    display: inline-block;
    border-radius: 3px;
    padding-top: 15px;
    padding-bottom: 6px;
    width: 192px;
}

.main-table__footer_row .main-table-cell:nth-of-type(1) .main-table-foot-link {
    background: #484848;
    border-bottom: 9px solid #404040;
}

.main-table__footer_row .main-table-cell:nth-of-type(1) .main-table-foot-link:hover {
    background: #404040;
}

.main-table__footer_row .main-table-cell:nth-of-type(2) .main-table-foot-link {
    background: #89C331;
    border-bottom: 9px solid #79B027;
}

.main-table__footer_row .main-table-cell:nth-of-type(2) .main-table-foot-link:hover {
    background: #79B027;
}

.main-table__footer_row .main-table-cell:nth-of-type(3) .main-table-foot-link {
    background: #F04A56;
    border-bottom: 9px solid #DF3A46;
}

.main-table__footer_row .main-table-cell:nth-of-type(3) .main-table-foot-link:hover {
    background: #DF3A46;
}

.main-table__footer_row .main-table-cell:nth-of-type(4) .main-table-foot-link {
    background: #20807C;
    border-bottom: 9px solid #16736F;
}

.main-table__footer_row .main-table-cell:nth-of-type(4) .main-table-foot-link:hover {
    background: #16736F;
}

.new-theme .table_row {
    background: #666;
}

.new-theme .main-table-cell {
    color: #fff;
}

.new-theme .table_row .main-table-cell a.main-table-foot-link,
.new-theme th.table-sell__green,
.new-theme th.table-sell__red,
.new-theme th.table-sell__till {
    background: chartreuse;
    color: blue;
}

