.container {
  margin: 0 auto;
  max-width: 1170px;
}

//@include for-768 {
//  .container {
//    max-width: 768px;
//  }
//}
//
//@include for-1200 {
//  .container {
//    max-width: 1170px;
//  }
//}



