a {
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.header-zone {
    background: #313131;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 0 27px;
}

.header-logo-title {
    display: flex;
    align-items: center;
}

.header-logo-heading {
    font-size: 22px;
    font-weight: normal;
    color: #fff;
    text-transform: capitalize;
}

.header-menu {
    display: flex;
    justify-content: space-between;
}

.header-menu-item + .header-menu-item {
    margin-left: 35px;
}

.header-menu-item {
    text-transform: uppercase;
    color: #fff;
}

.header-menu-item:hover {
    color: #14B9D5;
}

.header-search {
    display: flex;
    align-items: stretch;
}

.header-search-item {
    background: #313131;
    border: none;
}

.fa-search {
    display: inline-block;
    width: 70px;
    height: 70px;
    background: url("../img/fa-search.png") #000 center no-repeat;
}

.main-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url("../img/header-bg.jpeg") center -450px no-repeat fixed;
    padding-top: 164px;
    padding-bottom: 74px;
    background-size: cover;
}

.main-banner-content-title {
    color: #fff;
    font-size: 27px;
}

.main-banner-content-link-wrap {
    display: flex;
}

.main-banner-content-link {
    color: #fff;
    font-size: 18px;
    padding: 16px 30px;
    border-radius: 5px;
}

.main-banner-content-link:first-of-type {
    background: #89CA62;
    margin-right: 20px
}

.main-banner-content-link:last-of-type {
    background: #14B9D5;;
}

.section-title {
    color: #18B4CF;
    font-size: 27px;
    margin: 0 0 50px 0;
    text-transform: uppercase;
    text-align: center;
}

.gallery,
.top-rated,
.hot-news {
    padding-top: 50px;
    border: 1px solid transparent;
}

.gallery {
    background: #F2F2F2;
}

.gallery-items {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    height: 850px;
    margin-bottom: 70px;

}

.gallery-item:nth-child(1),
.gallery-item:nth-child(2) {
    align-self: flex-start;
}

.gallery-item:nth-child(5),
.gallery-item:nth-child(6) {
    align-self: flex-end;
}

.gallery-item-figure-wrap {
    background: #fff;
}

.gallery-item {
    background: #fff;
    margin-bottom: 30px;
    width: 370px;
}

.gallery-item-description {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #353A3D;
    margin: 20px 0 30px 0;
}

.popular-clients {
    text-align: center;
    background: url("../img/parallax-bg.jpeg") center no-repeat fixed;
    background-size: cover;
    padding-top: 106px;
    padding-bottom: 191px;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr;
    grid-row-gap: 70px;
}

.popular-clients-title {
    display: grid;
    justify-items: center;
    font-size: 32px;
    color: #fff;
    text-transform: uppercase;
}

.popular-clients-title::after {
    content: "";
    display: block;
    width: 60px;
    border-top: 3px solid #18B4CF;
    margin-top: 70px;
}


.popular-clients-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

.top-rated-items {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.top-rated-image {
    width: 100%;
    height: 190px;
}

.hot-news {
    margin-bottom: 106px;
}

.hot-news-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
}

.hot-news-item {
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.hot-news-item-image {
    width: 100%;
}

.hot-news-item:first-child {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.hot-news-item:nth-child(2) {
    justify-self: end;
}

.hot-news-item:nth-child(3),
.hot-news-item:nth-child(5) {
    grid-column: 1 / 3;
}

.hot-news-item:nth-child(4),
.hot-news-item:nth-child(6) {
    grid-column: 3 / 5;
    justify-self: end;
}

.hot-news-items-description-wrap {
    display: grid;
}

.hot-news-item:last-child {
    grid-column: 2 / 5;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.hot-news-items-title {
    margin: 0;
    color: #353A3D;
    font-size: 18px;
    padding-right: 14px;
    text-align: right;
}

.hot-news-items-description {
    color: #5B6469;
    font-size: 14px;
    text-align: right;
    padding: 14px 14px 0 14px;
}

.hot-news-item:first-child .hot-news-items-description, .hot-news-item:first-child .hot-news-items-title,
.hot-news-item:last-child .hot-news-items-description, .hot-news-item:last-child .hot-news-items-title {
    padding-right: 24px;
}

.hot-news-item:nth-child(2) .hot-news-items-title,
.hot-news-item:nth-child(7) .hot-news-items-title {
    text-align: center;
    padding: 14px;
}

.hot-news-item:nth-child(3) .hot-news-items-title,
.hot-news-item:nth-child(4) .hot-news-items-title,
.hot-news-item:nth-child(5) .hot-news-items-title,
.hot-news-item:nth-child(6) .hot-news-items-title {
    padding-top: 14px;
}

.hot-news-item-info {
    display: grid;
    justify-items: end;
    align-content: center;
}

.footer-zone {
    background: #000;
    padding: 30px 0;
}

.footer-zone-wrap {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
}

.footer-zone-copyright {
    color: #fff;
    font-size: 13px;
}

.footer-zone-logo {
    display: flex;
    align-items: start;
}







