.wrapper {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
}

.input-price {
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 2rem;
    border: 1px solid #999;
}

.input-price:focus {
    outline: 0;
}

.green {
    border: 2px solid green;
}

.green-text {
    color: green;
}

.red {
    border: 2px solid red;
}

.message,
.error {
    display: block;
}

.close {
    margin-left: 10px;
    display: inline;
    cursor: pointer;
}

form {
    text-align: center;
}
