/*html {*/
    /*overflow: hidden;*/
/*}*/

/*body {*/
    /*margin: 0;*/
    /*height: 100vh;*/
    /*perspective: 4px;*/
    /*transform-style: preserve-3d;*/
    /*overflow-x: hidden;*/
    /*overflow-y: auto;*/
/*}*/

body, html {
    overflow: hidden;
}


@font-face {
    font-family: "Futura";
    src: url("../fonts/futura-condensed-bold.ttf");
}

a {
    text-decoration: none;
}

p, h1, h2 {
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
}

/*.section {*/
    /*width: 100vw;*/
    /*padding: 40px 0;*/
    /*background: #FFFFFF;*/
    /*z-index: 2;*/
    /*position: relative;*/
/*}*/

/*.container {*/
    /*width: 1000px;*/
    /*margin: 0 auto;*/
/*}*/

/*.header-zone-wrapper {*/
    /*display: grid;*/
    /*grid-template-columns: repeat(2, 1fr) ;*/
/*}*/

/*.header-logo-link {*/
    /*font-family: 'Roboto', sans-serif;*/
    /*font-size: 36px;*/
    /*color: #424F57;*/
    /*justify-self: left;*/
/*}*/

/*.bolder {*/
    /*text-transform: uppercase;*/
    /*font-weight: 700;*/
    /*color: #14AFCA;*/
/*}*/

/*.header-nav {*/
    /*display: grid;*/
    /*grid-template-columns: repeat(5, 1fr);*/
    /*justify-items: center;*/
    /*align-items: center;*/
/*}*/

/*.header-nav-link {*/
    /*font-family: 'Open Sans', sans-serif;*/
    /*text-transform: uppercase;*/
    /*color: #424F57;*/
    /*font-size: 15px;*/
    /*font-weight: 700;*/
/*}*/

/*.parallax-wrapper {*/

/*}*/

/*.parallax-wrapper::before {*/

/*}*/

/*.we-create-parallax::before {*/
    /*content: "";*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*top: 0;*/
    /*left: 0;*/
    /*position: absolute;*/
    /*transform: translateZ(-1px) scale(1);*/
    /*background: url("../img/bg1.jpg") center;*/
    /*background-size: cover;*/
    /*z-index: -1;*/
/*}*/

/*.we-create {*/
    /*display: grid;*/
    /*justify-self: center;*/
    /*align-self: center;*/
/*}*/

/*.we-create-text {*/
    /*padding: 135px 0;*/
    /*text-align: center;*/
    /*font-size: 52px;*/
    /*text-transform: uppercase;*/
    /*font-family: "Futura", sans-serif;*/
    /*font-weight: bold;*/
    /*color: #fff;*/
/*}*/

/*.what-wrapper {*/
    /*padding: 100px 0;*/
/*}*/

/*.companies-parallax {*/
    /*padding: 30px 0;*/
/*}*/

/*.companies-parallax::before {*/
    /*content: "";*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*top: 1000px;*/
    /*left: 0;*/
    /*position: absolute;*/
    /*transform: translateZ(-1px) scale(2);*/
    /*background: url("../img/bg2.jpg") center -400px;*/
    /*background-size: cover;*/
    /*!*z-index: 1;*!*/
/*}*/

/*.companies-logo {*/
    /*position: relative;*/
    /*display: grid;*/
    /*grid-template-columns: repeat(4, 1fr);*/
    /*grid-template-rows: repeat(3, auto);*/
    /*justify-items: center;*/
    /*align-items: center;*/
/*}*/

/*.companies-title,*/
/*.companies-subtitle {*/
    /*grid-column: span 4;*/
/*}*/

/*.companies-title {*/
    /*font-family: 'Roboto', sans-serif;*/
    /*font-weight: bold;*/
    /*color: #14AFCA;*/
    /*text-transform: uppercase;*/
    /*font-size: 60px;*/
/*}*/

/*.companies-subtitle {*/
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-weight: 600;*/
    /*font-size: 18px;*/
    /*color: #FFFFFF;*/

/*}*/

/*.company-logo-item {*/

/*}*/







/*.section {*/
    /*padding: 40px 0;*/
    /*background: #FFFFFF;*/
    /*!*z-index: 10;*!*/
/*}*/

/*.header-zone-wrapper {*/
    /*display: grid;*/
    /*grid-template-columns: repeat(2, 1fr) ;*/
/*}*/

/*.container {*/
    /*width: 1000px;*/
    /*margin: 0 auto;*/
/*}*/

/*.header-logo-link {*/
    /*font-family: 'Roboto', sans-serif;*/
    /*font-size: 36px;*/
    /*color: #424F57;*/
    /*justify-self: left;*/
/*}*/

/*.bolder {*/
    /*text-transform: uppercase;*/
    /*font-weight: 700;*/
    /*color: #14AFCA;*/
/*}*/

/*.header-nav {*/
    /*display: grid;*/
    /*grid-template-columns: repeat(5, 1fr);*/
    /*justify-items: center;*/
    /*align-items: center;*/
/*}*/

/*.header-nav-link {*/
    /*font-family: 'Open Sans', sans-serif;*/
    /*text-transform: uppercase;*/
    /*color: #424F57;*/
    /*font-size: 15px;*/
    /*font-weight: 700;*/
/*}*/

/*.we-create {*/
    /*display: grid;*/
    /*justify-self: center;*/
    /*align-self: center;*/
/*}*/

/*.we-create-text {*/
    /*padding: 135px 0;*/
    /*text-align: center;*/
    /*font-size: 52px;*/
    /*text-transform: uppercase;*/
    /*font-family: "Futura", sans-serif;*/
    /*font-weight: bold;*/
    /*color: #fff;*/
/*}*/

/*.we-create::before {*/
    /*content: '';*/
    /*display: block;*/
    /*position: absolute;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*top: 0;*/
    /*z-index: -1;*/
    /*transform-origin: center;*/
    /*height: 1000px;*/
    /*background: url("../img/bg1.jpg") no-repeat;*/
    /*background-size: cover;*/
    /*transition: 1s;*/
    /*transform: translateZ(-1px) scale(2);*/
/*}*/

/*.what {*/
    /*border: 1px solid blue;*/
    /*width: 100%;*/
    /*text-align: center;*/
    /*background: #fff;*/
/*}*/

/*.companies::before {*/
    /*content: '';*/
    /*display: block;*/
    /*position: absolute;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*top: 0;*/
    /*z-index: -2;*/
    /*transform-origin: center;*/
    /*height: 1000px;*/
    /*background: url("../img/bg2.jpg") no-repeat;*/
    /*background-size: cover;*/
    /*transition: 1s;*/
    /*transform: translateZ(-1px) scale(2);*/
/*}*/

/*.companies-logo {*/
    /*display: grid;*/
    /*grid-template-columns: repeat(4, 1fr);*/
    /*grid-template-rows: repeat(2, auto);*/
/*}*/







.parallax {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
    -webkit-perspective-origin-x: 100%;
    perspective-origin-x: 100%;
}

.parallax__group {
    position: relative;
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform-origin-x: 100%;
    transform-origin-x: 100%;
}

.parallax__layer--fore {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
    z-index: 1;
}

.parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
}

.parallax__layer--back {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: 3;
}

.parallax__layer--deep {
    -webkit-transform: translateZ(-600px) scale(3);
    transform: translateZ(-600px) scale(3);
    z-index: 2;
}


/* demo scss
--------------------------------------------- */

body, html {
    overflow: hidden;
}

body {
    font: 100% / 1.5 Arial;
}

* {
    margin:0;
    padding:0;
}

.parallax {
    font-size: 200%;
}

/* centre the content in the parallax layers */
.title {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}



/* style the groups
--------------------------------------------- */

#group1 {
    z-index: 5; /* slide over group 2 */
}
#group1 .parallax__layer--base {
    background: rgb(102,204,102);
}

#group2 {
    z-index: 3; /* slide under groups 1 and 3 */
}
#group2 .parallax__layer--back {
    background: url("../img/bg1.jpg") no-repeat;
    background-size: cover;
}

#group3 {
    z-index: 4; /* slide over group 2 and 4 */
}
#group3 .parallax__layer--base {
    background: rgb(153,216,101);
}

#group4 {
    z-index: 2; /* slide under group 3 and 5 */
}
#group4 .parallax__layer--deep {
    background: url("../img/bg2.jpg") no-repeat;
    background-size: cover;
}

#group5 {
    z-index: 3; /* slide over group 4 and 6 */
}
#group5 .parallax__layer--base {
    background: rgb(214,229,100);
}

#group6 {
    z-index: 2; /* slide under group 5 and 7 */
}
#group6 .parallax__layer--back {
    background: url("../img/bg3.jpg") no-repeat;
    background-size: cover;
}

#group7 {
    z-index: 3; /* slide over group 7 */
}
#group7 .parallax__layer--base {
    background: rgb(255,241,100);
}









.we-create {
    display: grid;
    justify-self: center;
    align-self: center;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.we-create-text {
    padding: 135px 0;
    text-align: center;
    font-size: 52px;
    text-transform: uppercase;
    font-family: "Futura", sans-serif;
    font-weight: bold;
    color: #fff;
}












